QLabel[class="header"] {
	font-weight: bold;
	background: #a8a;
	border-radius: 9px;
	padding: 2px;

}

QLabel[class="display"] {
	font-size: 10px;
	font-family: monospace;
	min-width: 25px;
	padding:0;
	margin:0;
	qproperty-alignment: 'AlignVCenter | AlignRight';
}

QSlider::groove:horizontal {
	background: #88c;
	border-radius: 5px;
	height: 6px;
}
QSlider::handle:horizontal {
	background: #559;
	width: 12px;
	margin: -3px 1px;
}


QPushButton {
	border: none;
	background: #88c;
	padding: 0px 3px;
}
QPushButton:checked, QPushButton:pressed {
	background: #F09400;
}

QPushButton[class="radio"] {
	width: 30px;
}
QPushButton[class="power"] {
	width: 8px;
}
QPushButton[class="source"] {
	width: 60px;
}
QPushButton[class="target"] {
	width: 120px;
}



QScrollArea {
	border: 2px solid #999;
}


QScrollBar {
	background: #88c;
}
QScrollBar:vertical {
	width: 10px;
}
QScrollBar:horizontal {
	height: 10px;
}
QScrollBar::handle {
	background: #559;
}
QScrollBar::add-page, QScrollBar::sub-page {
	background: #88c;
}
QScrollBar::add-line, QScrollBar::sub-line {
	background: #88c;
}
